<p style="color: green"><%= notice %></p>

<h1>Grades</h1>
<% if current_person.teacher? %>
  <%= link_to "New grade", new_grade_path %>
<% end %>

<div id="grades">
  <% @grades.each do |grade| %>
    <%= render grade %>
    <p>
      <%= link_to "Show this grade", grade %>
    </p>
  <% end %>
</div>

