<div id="<%= dom_id lecture_grade %>">
  <p>
    <strong>Lecture:</strong>
    <%= lecture_grade.lecture_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= lecture_grade.grade_id %>
  </p>

</div>
