<h1>Editing lecture grade</h1>

<%= render "form", lecture_grade: @lecture_grade %>

<br>

<div>
  <%= link_to "Show this lecture grade", @lecture_grade %> |
  <%= link_to "Back to lecture grades", lecture_grades_path %>
</div>
