<p style="color: green"><%= notice %></p>

<h1>Lectures</h1>

<%if current_person.teacher? %>
  <%= link_to "New Lecture", new_lecture_path %>
<% end %>

<div id="lectures">
  <% @lectures.each do |lecture| %>
    <%= render lecture %>
    <p>
      <%= link_to "Show this lecture", lecture %>
    </p>
  <% end %>
</div>
